<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('新增产品证件')" />
	<link rel="stylesheet" href="../../../static/layui/css/layui.css">
</head>
<body>
    <div class="main-content" style="padding-bottom: 80px;">
        <form id="form-product-certificate-add" class="form-horizontal">
            <h4 class="form-header h4">基本信息</h4>
            <!-- 隐藏的产品ID字段 -->
            <input type="hidden" name="materialId" id="materialId">
            <!-- 隐藏的产品编码字段，自动生成 -->
            <input type="hidden" name="materialCode" id="materialCode">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">产品名称：</label>
                        <div class="col-sm-8">
                            <input name="materialName" id="materialName" placeholder="请输入产品名称" class="form-control" type="text" maxlength="200" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">注册证号：</label>
                        <div class="col-sm-8">
                            <input name="registerNo" placeholder="请输入注册证号" class="form-control" type="text" maxlength="100" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">供应商：</label>
                        <div class="col-sm-8">
                            <select name="supplierId" id="supplierId" class="form-control">
                                <option value="">请选择供应商（选填）</option>
                                <option th:each="supplier : ${supplierList}"
                                        th:value="${supplier.supplierId}"
                                        th:text="${supplier.companyName}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">注册证名称：</label>
                        <div class="col-sm-8">
                            <input name="registerName" placeholder="请输入注册证名称" class="form-control" type="text" maxlength="200">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">条码号(UDI)：</label>
                        <div class="col-sm-8">
                            <input name="udiCode" placeholder="请输入条码号(UDI)" class="form-control" type="text" maxlength="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">拼音简码：</label>
                        <div class="col-sm-8">
                            <input name="pinyinCode" placeholder="请输入拼音简码" class="form-control" type="text" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">注册证发证日期：</label>
                        <div class="col-sm-8">
                            <input name="registerIssueDate" id="registerIssueDate" placeholder="年/月/日" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">注册证发证日期：</label>
                        <div class="col-sm-8">
                            <input name="registerIssueDate" id="registerIssueDate" placeholder="年/月/日" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">注册有效期：</label>
                        <div class="col-sm-8">
                            <input name="registerValidDate" id="registerValidDate" placeholder="年/月/日" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">产品信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">规格：</label>
                        <div class="col-sm-8">
                            <input name="specification" id="specification" placeholder="请输入规格" class="form-control" type="text" maxlength="200">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">型号：</label>
                        <div class="col-sm-8">
                            <input name="model" id="model" placeholder="请输入型号" class="form-control" type="text" maxlength="200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">单位：</label>
                        <div class="col-sm-8">
                            <input name="unit" id="unit" placeholder="请输入单位" class="form-control" type="text" maxlength="20">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">生产厂家：</label>
                        <div class="col-sm-8">
                            <input name="manufacturerName" id="manufacturerName" placeholder="请输入生产厂家" class="form-control" type="text" maxlength="200">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">价格信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">采购价格：</label>
                        <div class="col-sm-8">
                            <input name="purchasePrice" id="purchasePrice" placeholder="请输入采购价格" class="form-control" type="number" step="0.01" min="0">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">单价：</label>
                        <div class="col-sm-8">
                            <input name="bidPrice" placeholder="请输入单价" class="form-control" type="number" step="0.01" min="0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">销售价格：</label>
                        <div class="col-sm-8">
                            <input name="salePrice" placeholder="请输入销售价格" class="form-control" type="number" step="0.01" min="0">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">状态：</label>
                        <div class="col-sm-8">
                            <select name="status" class="form-control">
                                <option value="0">启用</option>
                                <option value="1">停用</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">医院编码：</label>
                        <div class="col-sm-8">
                            <input name="hospitalCode" placeholder="请输入医院编码" class="form-control" type="text" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">销售客户：</label>
                        <div class="col-sm-8">
                            <input name="saleCustomer" placeholder="请输入销售客户" class="form-control" type="text" maxlength="200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">产品类别：</label>
                        <div class="col-sm-8">
                            <select name="productCategory" class="form-control">
                                <option value="">请选择</option>
                                <option value="高值">高值</option>
                                <option value="低值">低值</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">备注：</label>
                        <div class="col-sm-8">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row" style="position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; padding: 15px 20px; border-top: 1px solid #ddd; z-index: 1000; box-shadow: 0 -2px 8px rgba(0,0,0,0.1);">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        </div>
    </div>
    <div style="height: 70px;"></div>
	<th:block th:include="include :: footer" />
	<script src="../../../static/layui/layui.js"></script>
	<script>
	    var prefix = ctx + "certificate/product";
	    var laydate;
	    
	    layui.use('laydate', function(){
	        laydate = layui.laydate;
	        
	        // 注册证发证日期
	        laydate.render({
	            elem: '#registerIssueDate',
	            type: 'date'
	        });
	        
	        // 注册有效期
	        laydate.render({
	            elem: '#registerValidDate',
	            type: 'date'
	        });
	    });
	    
        $("#form-product-certificate-add").validate({
        	onkeyup: false,
        	rules:{
        		materialName:{
        			required: true
        		},
        		registerNo:{
        			required: true,
        			maxlength: 100
        		}
        	},
            focusCleanup: true
        });
        
        function submitHandler() {
	        console.log("submitHandler 被调用");
	        console.log("prefix:", prefix);
	        
	        // 先检查表单验证
	        var isValid = $.validate.form();
	        console.log("表单验证结果:", isValid);
	        
	        if (!isValid) {
	            console.log("表单验证失败");
	            return false;
	        }
	        
	        // 确保materialId字段为空，让后端自动生成
	        $('#materialId').val('');
	        
	        // 使用自定义的AJAX请求，添加错误处理和超时
	        var formData = $("#form-product-certificate-add").serializeArray();
	        console.log("提交表单数据:", formData);
	        console.log("请求URL:", prefix + "/add");
	        
	        // 确保loading在请求开始前显示
	        $.modal.loading("正在处理中，请稍候...");
	        
	        $.ajax({
	            url: prefix + "/add",
	            type: "post",
	            dataType: "json",
	            timeout: 30000, // 30秒超时
	            data: formData,
	            beforeSend: function (xhr, settings) {
	                console.log("AJAX请求开始发送");
	                var csrftoken = $('meta[name=csrf-token]').attr('content');
	                if (csrftoken) {
	                    xhr.setRequestHeader("X-CSRF-Token", csrftoken);
	                }
	            },
	            success: function(result) {
	                console.log("保存成功:", result);
	                // 使用标准的successTabCallback处理，它会显示消息并关闭标签页
	                $.operate.successTabCallback(result);
	            },
	            error: function(xhr, status, error) {
	                console.error("保存失败:", status, error, xhr);
	                console.error("响应状态:", xhr.status);
	                console.error("响应文本:", xhr.responseText);
	                $.modal.closeLoading();
	                var errorMsg = "保存失败";
	                if (status === "timeout") {
	                    errorMsg = "请求超时，请检查网络连接或稍后重试";
	                } else if (status === "error" && xhr.status === 0) {
	                    errorMsg = "网络错误，请检查网络连接";
	                } else if (xhr.responseJSON && xhr.responseJSON.msg) {
	                    errorMsg = xhr.responseJSON.msg;
	                } else if (xhr.responseText) {
	                    try {
	                        var json = JSON.parse(xhr.responseText);
	                        if (json.msg) {
	                            errorMsg = json.msg;
	                        }
	                    } catch(e) {
	                        if (xhr.responseText.length > 0) {
	                            errorMsg = xhr.responseText.substring(0, 200);
	                        }
	                    }
	                }
	                $.modal.alertError(errorMsg);
	            },
	            complete: function() {
	                console.log("AJAX请求完成");
	                // 确保loading被关闭
	                setTimeout(function() {
	                    $.modal.closeLoading();
	                }, 100);
	            }
	        });
	        
	        return false; // 防止表单默认提交
	    }
	    
	    function closeItem() {
	        console.log("closeItem 被调用");
	        
	        // 如果在iframe中，使用父窗口的closeItem函数（来自common.js）
	        if (window.parent && window.parent !== window) {
	            try {
	                // 直接调用全局的closeItem函数
	                if (typeof window.parent.closeItem === 'function') {
	                    window.parent.closeItem();
	                    return;
	                }
	            } catch(e) {
	                console.log("调用父窗口closeItem失败:", e);
	            }
	            
	            try {
	                // 如果closeItem不可用，尝试直接使用common.js中的逻辑
	                var topWindow = $(window.parent.document);
	                var panelUrl = null;
	                
	                // 获取当前iframe的data-panel属性
	                if (window.frameElement) {
	                    panelUrl = window.frameElement.getAttribute('data-panel');
	                }
	                
	                // 点击当前活动标签页的关闭按钮（X图标）
	                var closeBtn = $('.page-tabs-content .active i', topWindow);
	                if (closeBtn.length > 0) {
	                    closeBtn.click();
	                    return;
	                }
	                
	                // 如果找不到关闭按钮，尝试直接移除标签页
	                if (panelUrl) {
	                    $('.menuTab[data-id="' + panelUrl + '"]', topWindow).remove();
	                    $('.mainContent .Scm_iframe[data-id="' + panelUrl + '"]', topWindow).remove();
	                    
	                    // 激活上一个标签页
	                    var prevTab = $('.menuTab', topWindow).last();
	                    if (prevTab.length > 0) {
	                        var prevId = prevTab.data('id');
	                        prevTab.addClass('active');
	                        $('.mainContent .Scm_iframe[data-id="' + prevId + '"]', topWindow).show();
	                    }
	                    return;
	                }
	            } catch(e) {
	                console.error("关闭标签页失败:", e);
	            }
	        }
	        
	        // 如果不在iframe中，尝试使用$.modal.closeTab()
	        try {
	            if (typeof $.modal !== 'undefined' && typeof $.modal.closeTab === 'function') {
	                $.modal.closeTab();
	                return;
	            }
	        } catch(e) {
	            console.log("使用$.modal.closeTab失败:", e);
	        }
	        
	        console.warn("无法关闭页面，请手动关闭标签页");
	    }
    </script>
</body>
</html>
