<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('订单详情')" />
</head>
<body>
    <div class="main-content">
        <form id="form-order-view" class="form-horizontal">
            <input name="orderId" type="hidden" th:value="${order.orderId}"/>
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单编号：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.orderNo}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">医院名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.hospitalName}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">供应商名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.supplierName}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单金额：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.orderAmount}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单日期：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${#dates.format(order.orderDate, 'yyyy-MM-dd')}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单状态：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.orderStatus == '0' ? '待接收' : (order.orderStatus == '1' ? '已接收' : (order.orderStatus == '2' ? '配送中' : (order.orderStatus == '3' ? '已完成' : '已取消')))}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea maxlength="500" class="form-control" rows="3" readonly th:text="${order.remark}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
</body>
</html>

