<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('订单详情')" />
	<th:block th:include="include :: layout-latest-css" />
</head>
<body>
    <div class="main-content">
        <form id="form-order-view" class="form-horizontal">
            <input name="orderId" type="hidden" th:value="${order.orderId}"/>
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单编号：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.orderNo}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">医院名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.hospitalName}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">供应商名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.supplierName}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单金额：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.orderAmount}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单日期：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${#dates.format(order.orderDate, 'yyyy-MM-dd')}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">订单状态：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${order.orderStatus == '0' ? '待接收' : (order.orderStatus == '1' ? '已接收' : (order.orderStatus == '2' ? '配送中' : (order.orderStatus == '3' ? '已完成' : '已取消')))}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="openOrderDeliveries()"><i class="fa fa-truck"></i> 关联配送单</a>
                    <a class="btn btn-default btn-sm" href="javascript:void(0)" onclick="openOrderDetailFull()"><i class="fa fa-list"></i> 订单明细（配送数量）</a>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea maxlength="500" class="form-control" rows="3" readonly th:text="${order.remark}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<script th:inline="javascript">
		var orderId = [[${order.orderId}]];
		var prefix = ctx + "order/order";

		function openOrderDetailFull() {
			$.modal.openTab("订单明细", prefix + "/detail/" + orderId);
		}

		function openOrderDeliveries() {
			var tid = "bootstrap-table-order-del";
			layer.open({
				type: 1,
				area: ["920px", "440px"],
				title: "关联配送单",
				content: "<table id=\"" + tid + "\"></table>",
				success: function () {
					$("#" + tid).bootstrapTable({
						url: prefix + "/deliveriesByOrder/" + orderId,
						method: "post",
						pagination: false,
						responseHandler: $.table.responseHandler,
						columns: [
							{ field: "deliveryNo", title: "配送单号" },
							{ field: "auditStatus", title: "审核状态", formatter: function (v) {
								var m = { "0": "待审核", "1": "已审核", "2": "已拒绝" };
								return m[v] || (v == null ? "" : v);
							}},
							{ field: "deliveryStatus", title: "单据状态", formatter: function (v) {
								var m = { "0": "未审核", "1": "已审核", "2": "已配送", "3": "已入库" };
								return m[v] || (v == null ? "" : v);
							}},
							{ field: "deliveryAmount", title: "配送金额" },
							{ title: "操作", formatter: function (v, row) {
								return "<a href=\"javascript:void(0)\" onclick=\"$.modal.openTab('配送单详情','" + ctx + "delivery/delivery/detail/" + row.deliveryId + "')\">查看</a>";
							}}
						]
					});
				}
			});
		}
	</script>
</body>
</html>

