<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('配送明细表')" />
	<th:block th:include="include :: layout-latest-css" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="delivery-detail-form">
					<div class="select-list">
						<ul>
							<li>
								配送单号：<input type="text" name="deliveryNo"/>
							</li>
							<li>
								产品编码：<input type="text" name="materialCode"/>
							</li>
							<li>
								产品名称：<input type="text" name="materialName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="delivery:delivery:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<script th:inline="javascript">
		var prefix = ctx + "delivery/delivery/query/detail";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        exportUrl: prefix + "/export",
		        sortName: "detailId",
		        sortOrder: "desc",
		        modalName: "配送明细",
		        columns: [{
		            field: 'serialNumber',
		            title: '序号',
		            align: 'center',
		            formatter: function (value, row, index) {
		                return $.table.serialNumber(index);
		            }
		        },
		        {
		            field: 'deliveryNo',
		            title: '配送单号',
		            sortable: true
		        },
		        {
		            field: 'materialCode',
		            title: '产品编码',
		            sortable: true
		        },
		        {
		            field: 'materialName',
		            title: '产品名称',
		            sortable: true
		        },
		        {
		            field: 'specification',
		            title: '规格'
		        },
		        {
		            field: 'model',
		            title: '型号'
		        },
		        {
		            field: 'unit',
		            title: '单位'
		        },
		        {
		            field: 'deliveryQuantity',
		            title: '配送数量',
		            sortable: true
		        },
		        {
		            field: 'price',
		            title: '单价',
		            sortable: true,
		            formatter: function(value, row, index) {
		                if (value != null) {
		                    return parseFloat(value).toFixed(2);
		                }
		                return '-';
		            }
		        },
		        {
		            field: 'amount',
		            title: '金额',
		            sortable: true,
		            formatter: function(value, row, index) {
		                if (value != null) {
		                    return parseFloat(value).toFixed(2);
		                }
		                return '-';
		            }
		        },
		        {
		            field: 'batchNo',
		            title: '批号'
		        },
		        {
		            field: 'productionDate',
		            title: '生产日期',
		            sortable: true,
		            formatter: function(value, row, index) {
		                if (value) {
		                    return $.common.formatDate(value, "yyyy-MM-dd");
		                }
		                return '-';
		            }
		        },
		        {
		            field: 'expireDate',
		            title: '有效期',
		            sortable: true,
		            formatter: function(value, row, index) {
		                if (value) {
		                    return $.common.formatDate(value, "yyyy-MM-dd");
		                }
		                return '-';
		            }
		        },
		        {
		            field: 'manufacturer',
		            title: '生产厂家'
		        },
		        {
		            field: 'registerNo',
		            title: '注册证号'
		        }]
		    };
		    $.table.init(options);
		});

		function resetPre() {
		    $("#delivery-detail-form")[0].reset();
		    $.table.search();
		}
	</script>
</body>
</html>

