<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('数据中心')" />
	<th:block th:include="include :: layout-latest-css" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="statistics-form">
					<div class="select-list">
						<ul>
							<li>
								统计类型：<select name="statisticsType">
									<option value="">所有</option>
									<option value="month">月度统计</option>
									<option value="year">年度统计</option>
								</select>
							</li>
							<li>
								统计年份：<input type="text" name="statisticsYear" placeholder="请输入年份"/>
							</li>
							<li>
								统计月份：<input type="text" name="statisticsMonth" placeholder="请输入月份"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="datacenter:statistics:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<script th:inline="javascript">
		var prefix = ctx + "datacenter/statistics";

		$(function() {
		    queryStatisticsList();
		});

		function queryStatisticsList() {
		    var options = {
		        url: prefix + "/list",
		        exportUrl: prefix + "/export",
		        sortName: "createTime",
		        sortOrder: "desc",
		        columns: [{
		            field: 'statisticsId',
		            title: '统计ID'
		        },
		        {
		            field: 'statisticsType',
		            title: '统计类型',
		            formatter: function(value, row, index) {
		            	return value == 'month' ? '月度统计' : '年度统计';
		            }
		        },
		        {
		            field: 'statisticsYear',
		            title: '统计年份'
		        },
		        {
		            field: 'statisticsMonth',
		            title: '统计月份'
		        },
		        {
		            field: 'materialName',
		            title: '产品名称'
		        },
		        {
		            field: 'purchaseQuantity',
		            title: '采购数量'
		        },
		        {
		            field: 'purchaseAmount',
		            title: '采购金额'
		        },
		        {
		            field: 'orderCount',
		            title: '订单数量'
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true
		        }]
		    };
		    $.table.init(options);
		}
		
		function resetPre() {
			$("#statistics-form")[0].reset();
			$.table.search();
		}
	</script>
</body>
</html>

