<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scm.system.mapper.CertificateConfigMapper">
    
    <resultMap type="CertificateConfig" id="CertificateConfigResult">
        <id     property="configId"         column="config_id"         />
        <result property="configType"       column="config_type"       />
        <result property="certificateType"  column="certificate_type"  />
        <result property="warningDays"      column="warning_days"      />
        <result property="recentDays"       column="recent_days"       />
        <result property="status"           column="status"            />
        <result property="createBy"        column="create_by"         />
        <result property="createTime"      column="create_time"       />
        <result property="updateBy"        column="update_by"          />
        <result property="updateTime"      column="update_time"       />
        <result property="remark"          column="remark"            />
    </resultMap>
    
    <sql id="selectCertificateConfigVo">
        select config_id, config_type, certificate_type, warning_days, recent_days, status, create_by, create_time, update_by, update_time, remark from scm_certificate_config
    </sql>
    
    <select id="selectCertificateConfigList" parameterType="CertificateConfig" resultMap="CertificateConfigResult">
        <include refid="selectCertificateConfigVo"/>
        <where>
            <if test="configType != null and configType != ''">
                AND config_type = #{configType}
            </if>
            <if test="certificateType != null and certificateType != ''">
                AND certificate_type = #{certificateType}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by config_type, certificate_type
    </select>
    
    <select id="selectCertificateConfigByConfigId" parameterType="Long" resultMap="CertificateConfigResult">
        <include refid="selectCertificateConfigVo"/>
        where config_id = #{configId}
    </select>
    
    <select id="selectCertificateConfigByType" resultMap="CertificateConfigResult">
        <include refid="selectCertificateConfigVo"/>
        where config_type = #{configType}
        <if test="certificateType != null and certificateType != ''">
            AND certificate_type = #{certificateType}
        </if>
        <if test="certificateType == null or certificateType == ''">
            AND (certificate_type = '' OR certificate_type IS NULL)
        </if>
        limit 1
    </select>
    
    <insert id="insertCertificateConfig" parameterType="CertificateConfig" useGeneratedKeys="true" keyProperty="configId">
        insert into scm_certificate_config(
            <if test="configType != null and configType != ''">config_type,</if>
            <if test="certificateType != null">certificate_type,</if>
            <if test="warningDays != null">warning_days,</if>
            <if test="recentDays != null">recent_days,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="remark != null">remark,</if>
        )values(
            <if test="configType != null and configType != ''">#{configType},</if>
            <if test="certificateType != null">#{certificateType},</if>
            <if test="warningDays != null">#{warningDays},</if>
            <if test="recentDays != null">#{recentDays},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="remark != null">#{remark},</if>
        )
    </insert>
    
    <update id="updateCertificateConfig" parameterType="CertificateConfig">
        update scm_certificate_config
        <set>
            <if test="configType != null and configType != ''">config_type = #{configType},</if>
            <if test="certificateType != null">certificate_type = #{certificateType},</if>
            <if test="warningDays != null">warning_days = #{warningDays},</if>
            <if test="recentDays != null">recent_days = #{recentDays},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where config_id = #{configId}
    </update>
    
    <delete id="deleteCertificateConfigByConfigId" parameterType="Long">
        delete from scm_certificate_config where config_id = #{configId}
    </delete>
    
    <delete id="deleteCertificateConfigByConfigIds" parameterType="String">
        delete from scm_certificate_config where config_id in
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </delete>
</mapper>

