<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scm.system.mapper.HospitalSupplierMapper">
    
    <resultMap type="HospitalSupplier" id="HospitalSupplierResult">
        <id     property="relationId"        column="relation_id"        />
        <result property="hospitalId"        column="hospital_id"        />
        <result property="supplierId"        column="supplier_id"        />
        <result property="bindStatus"        column="bind_status"        />
        <result property="bindTime"         column="bind_time"          />
        <result property="bindBy"           column="bind_by"            />
        <result property="unbindTime"       column="unbind_time"        />
        <result property="unbindBy"         column="unbind_by"          />
        <result property="status"           column="status"             />
        <result property="auditStatus"      column="audit_status"       />
        <result property="auditTime"        column="audit_time"         />
        <result property="auditBy"          column="audit_by"           />
        <result property="disableStatus"    column="disable_status"     />
        <result property="stopTime"         column="stop_time"          />
        <result property="stopBy"           column="stop_by"            />
        <result property="supplyStartDate"  column="supply_start_date"  />
        <result property="supplyEndDate"    column="supply_end_date"    />
        <result property="hospitalName"     column="hospital_name"      />
        <result property="hospitalCode"     column="hospital_code"      />
        <result property="supplierName"     column="supplier_name"      />
        <result property="createBy"         column="create_by"          />
        <result property="createTime"       column="create_time"       />
        <result property="updateBy"         column="update_by"         />
        <result property="updateTime"       column="update_time"        />
        <result property="remark"           column="remark"             />
    </resultMap>
    
    <sql id="selectHospitalSupplierVo">
        select hs.relation_id, hs.hospital_id, hs.supplier_id, hs.bind_status, hs.bind_time, hs.bind_by,
               hs.unbind_time, hs.unbind_by, hs.status, hs.audit_status, hs.audit_time, hs.audit_by,
               hs.disable_status, hs.stop_time, hs.stop_by, hs.supply_start_date, hs.supply_end_date,
               hs.create_by, hs.create_time, hs.update_by, hs.update_time, hs.remark,
               h.hospital_name, h.hospital_code, s.company_name as supplier_name
        from scm_hospital_supplier hs
        left join scm_hospital h on hs.hospital_id = h.hospital_id
        left join scm_supplier s on hs.supplier_id = s.supplier_id
    </sql>
    
    <select id="selectHospitalSupplierList" parameterType="HospitalSupplier" resultMap="HospitalSupplierResult">
        <include refid="selectHospitalSupplierVo"/>
        <where>
            <if test="hospitalId != null">
                AND hs.hospital_id = #{hospitalId}
            </if>
            <if test="supplierId != null">
                AND hs.supplier_id = #{supplierId}
            </if>
            <if test="bindStatus != null and bindStatus != ''">
                AND hs.bind_status = #{bindStatus}
            </if>
            <if test="status != null and status != ''">
                AND hs.status = #{status}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND hs.audit_status = #{auditStatus}
            </if>
            <if test="disableStatus != null and disableStatus != ''">
                AND hs.disable_status = #{disableStatus}
            </if>
        </where>
        order by hs.create_time desc
    </select>
    
    <select id="selectHospitalSupplierById" parameterType="Long" resultMap="HospitalSupplierResult">
        <include refid="selectHospitalSupplierVo"/>
        where hs.relation_id = #{relationId}
    </select>
    
    <select id="selectHospitalSupplierBySupplierId" parameterType="Long" resultMap="HospitalSupplierResult">
        <include refid="selectHospitalSupplierVo"/>
        where hs.supplier_id = #{supplierId} and hs.status = '0'
    </select>

    <select id="selectHospitalSupplierByHospitalAndSupplier" parameterType="HospitalSupplier" resultMap="HospitalSupplierResult">
        <include refid="selectHospitalSupplierVo"/>
        where hs.hospital_id = #{hospitalId} and hs.supplier_id = #{supplierId}
        limit 1
    </select>
    
    <insert id="insertHospitalSupplier" parameterType="HospitalSupplier" useGeneratedKeys="true" keyProperty="relationId">
        insert into scm_hospital_supplier(
            <if test="hospitalId != null">hospital_id,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="bindStatus != null and bindStatus != ''">bind_status,</if>
            <if test="bindTime != null">bind_time,</if>
            <if test="bindBy != null and bindBy != ''">bind_by,</if>
            <if test="unbindTime != null">unbind_time,</if>
            <if test="unbindBy != null and unbindBy != ''">unbind_by,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditBy != null and auditBy != ''">audit_by,</if>
            <if test="disableStatus != null and disableStatus != ''">disable_status,</if>
            <if test="stopTime != null">stop_time,</if>
            <if test="stopBy != null and stopBy != ''">stop_by,</if>
            <if test="supplyStartDate != null">supply_start_date,</if>
            <if test="supplyEndDate != null">supply_end_date,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="bindStatus != null and bindStatus != ''">#{bindStatus},</if>
            <if test="bindTime != null">#{bindTime},</if>
            <if test="bindBy != null and bindBy != ''">#{bindBy},</if>
            <if test="unbindTime != null">#{unbindTime},</if>
            <if test="unbindBy != null and unbindBy != ''">#{unbindBy},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="auditStatus != null and auditStatus != ''">#{auditStatus},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditBy != null and auditBy != ''">#{auditBy},</if>
            <if test="disableStatus != null and disableStatus != ''">#{disableStatus},</if>
            <if test="stopTime != null">#{stopTime},</if>
            <if test="stopBy != null and stopBy != ''">#{stopBy},</if>
            <if test="supplyStartDate != null">#{supplyStartDate},</if>
            <if test="supplyEndDate != null">#{supplyEndDate},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>
    
    <update id="updateHospitalSupplier" parameterType="HospitalSupplier">
        update scm_hospital_supplier
        <set>
            <if test="hospitalId != null">hospital_id = #{hospitalId},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="bindStatus != null and bindStatus != ''">bind_status = #{bindStatus},</if>
            <if test="bindTime != null">bind_time = #{bindTime},</if>
            <if test="bindBy != null and bindBy != ''">bind_by = #{bindBy},</if>
            <if test="unbindTime != null">unbind_time = #{unbindTime},</if>
            <if test="unbindBy != null and unbindBy != ''">unbind_by = #{unbindBy},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status = #{auditStatus},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditBy != null and auditBy != ''">audit_by = #{auditBy},</if>
            <if test="disableStatus != null and disableStatus != ''">disable_status = #{disableStatus},</if>
            <if test="stopTime != null">stop_time = #{stopTime},</if>
            <if test="stopBy != null and stopBy != ''">stop_by = #{stopBy},</if>
            <if test="supplyStartDate != null">supply_start_date = #{supplyStartDate},</if>
            <if test="supplyEndDate != null">supply_end_date = #{supplyEndDate},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where relation_id = #{relationId}
    </update>
    
    <delete id="deleteHospitalSupplierById" parameterType="Long">
        delete from scm_hospital_supplier where relation_id = #{relationId}
    </delete>
    
    <delete id="deleteHospitalSupplierByIds" parameterType="String">
        delete from scm_hospital_supplier where relation_id in
        <foreach item="relationId" collection="array" open="(" separator="," close=")">
            #{relationId}
        </foreach>
    </delete>
    
    <delete id="deleteHospitalSupplierBySupplierId" parameterType="Long">
        delete from scm_hospital_supplier where supplier_id = #{supplierId}
    </delete>

    <select id="countOrderByHospitalAndSupplier" parameterType="HospitalSupplier" resultType="int">
        select count(1)
        from scm_order
        where hospital_id = #{hospitalId}
          and supplier_id = #{supplierId}
    </select>

    <select id="countDeliveryByHospitalAndSupplier" parameterType="HospitalSupplier" resultType="int">
        select count(1)
        from scm_delivery
        where hospital_id = #{hospitalId}
          and supplier_id = #{supplierId}
    </select>

    <select id="selectHospitalIdsInActiveSupplyForSupplier" resultType="long">
        select distinct hs.hospital_id
        from scm_hospital_supplier hs
        where hs.supplier_id = #{supplierId}
          and (hs.del_flag is null or hs.del_flag = '0')
          and hs.bind_status = '1'
          and (hs.audit_status = '1' or hs.audit_status is null)
          and (hs.disable_status = '0' or hs.disable_status is null)
          and (hs.supply_end_date is null or hs.supply_end_date &gt;= curdate())
          and (hs.supply_start_date is null or hs.supply_start_date &lt;= curdate())
    </select>
</mapper>

