<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scm.system.mapper.ScmHospitalSupplierScopeMapper">

    <resultMap type="com.scm.system.domain.ScmHospitalSupplierScopePair" id="PairResult">
        <result property="hospitalId" column="hospital_id"/>
        <result property="supplierId" column="supplier_id"/>
    </resultMap>

    <select id="selectPairsHospitalGrantMenu" resultMap="PairResult">
        SELECT sma.hospital_id, sma.supplier_id
        FROM scm_supplier_menu_auth sma
        INNER JOIN scm_hospital_menu_auth hma ON hma.hospital_id = sma.hospital_id AND hma.menu_id = sma.menu_id
        INNER JOIN scm_hospital_supplier hs ON hs.hospital_id = sma.hospital_id AND hs.supplier_id = sma.supplier_id AND hs.bind_status = '1'
        WHERE sma.menu_id = #{menuId} AND sma.hospital_id = #{hospitalId}
    </select>

    <select id="selectPairsHospitalGlobalSupplierMenu" resultMap="PairResult">
        SELECT #{hospitalId} AS hospital_id, hs.supplier_id
        FROM scm_hospital_supplier hs
        INNER JOIN scm_supplier_menu_auth sma ON sma.supplier_id = hs.supplier_id AND sma.menu_id = #{menuId} AND sma.hospital_id IS NULL
        INNER JOIN scm_hospital_menu_auth hma ON hma.hospital_id = hs.hospital_id AND hma.menu_id = sma.menu_id
        WHERE hs.hospital_id = #{hospitalId} AND hs.bind_status = '1'
    </select>

    <select id="selectPairsSupplierGrantMenu" resultMap="PairResult">
        SELECT sma.hospital_id, sma.supplier_id
        FROM scm_supplier_menu_auth sma
        INNER JOIN scm_hospital_menu_auth hma ON hma.hospital_id = sma.hospital_id AND hma.menu_id = sma.menu_id
        INNER JOIN scm_hospital_supplier hs ON hs.hospital_id = sma.hospital_id AND hs.supplier_id = sma.supplier_id AND hs.bind_status = '1'
        WHERE sma.menu_id = #{menuId} AND sma.supplier_id = #{supplierId} AND sma.hospital_id IS NOT NULL
    </select>

    <select id="selectPairsSupplierGlobalMenu" resultMap="PairResult">
        SELECT hs.hospital_id, hs.supplier_id
        FROM scm_hospital_supplier hs
        INNER JOIN scm_supplier_menu_auth sma ON sma.supplier_id = hs.supplier_id AND sma.menu_id = #{menuId} AND sma.hospital_id IS NULL
        INNER JOIN scm_hospital_menu_auth hma ON hma.hospital_id = hs.hospital_id AND hma.menu_id = sma.menu_id
        WHERE hs.supplier_id = #{supplierId} AND hs.bind_status = '1'
    </select>
</mapper>
