<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('结算单详情')" />
</head>
<body>
    <div class="main-content">
        <form id="form-settlement-view" class="form-horizontal">
            <input name="settlementId" type="hidden" th:value="${settlement.settlementId}"/>
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">结算单号：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${settlement.settlementNo}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">发票号：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${settlement.invoiceNo}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">客户名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${settlement.customerName}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">供应商名称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${settlement.supplierName}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">总金额：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${settlement.totalAmount}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核状态：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:value="${settlement.auditStatus == '0' ? '待审核' : (settlement.auditStatus == '1' ? '已审核' : '已拒绝')}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea maxlength="500" class="form-control" rows="3" readonly th:text="${settlement.remark}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
</body>
</html>

