<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('导出选择列')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
		    <div class="col-sm-12 search-collapse">
				<form id="export-form">
					<div class="select-list">
						<ul>
							<li>
								用户姓名：<input type="text" name="userName" value=""/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group">
		        <i class="fa fa-info-circle" style="color: red;"></i>  勾选数据导出指定列，否则为全部   
		        <a class="btn btn-warning" onclick="exportSelected()">
		            <i class="fa fa-download"></i> 导出
		        </a>
            </div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "demo/table";
        var datas = [[${@dict.getType('sys_normal_disable')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        clickToSelect: true,
		        rememberSelected: true,
                columns: [{
                	field: 'state',
		            checkbox: true
		        },
				{
					field : 'userId', 
					title : '用户ID'
				},
				{
					field : 'userCode', 
					title : '用户编号'
				},
				{
					field : 'userName', 
					title : '用户姓名'
				},
				{
					field : 'userPhone', 
					title : '用户手机'
				},
				{
					field : 'userEmail', 
					title : '用户邮箱'
				},
				{
				    field : 'userBalance',
				    title : '用户余额'
				},
				{
                    field: 'status',
                    title: '用户状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                    	return $.table.selectDictLabel(datas, value);
                    }
                },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs" href="javascript:;"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:;"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        
        // 导出数据
        function exportSelected() {
        	var userIds = $.table.selectColumns("userId");
        	var dataParam = $("#export-form").serializeArray();
        	var tipMsg = "确定导出所有数据吗？";
        	if($.common.isNotEmpty(userIds)){
        		tipMsg = "确定导出勾选" + userIds.length + "条数据吗？";
        		dataParam.push({ "name": "userIds", "value": userIds });
        	}
        	$.modal.confirm(tipMsg, function() {
                $.modal.loading("正在导出数据，请稍候...");
                var body = new URLSearchParams();
                $.each(dataParam, function(i, item) {
                    body.append(item.name, item.value == null ? '' : item.value);
                });
                var headers = {};
                var csrftoken = $('meta[name=csrf-token]').attr('content');
                if ($.common.isNotEmpty(csrftoken)) {
                    headers['X-CSRF-Token'] = csrftoken;
                }
                fetch(prefix + "/exportData", {
                    method: 'POST',
                    headers: headers,
                    body: body,
                    credentials: 'same-origin'
                }).then(function(response) {
                    var ctype = (response.headers.get('Content-Type') || '').toLowerCase();
                    if (ctype.indexOf('application/json') !== -1) {
                        return response.json().then(function(result) {
                            $.modal.closeLoading();
                            if (result.code == web_status.SUCCESS && result.msg) {
                                window.location.href = ctx + "common/download?fileName=" + encodeURIComponent(result.msg) + "&delete=" + true;
                            } else {
                                $.modal.alertError(result.msg || '导出失败');
                            }
                        });
                    }
                    if (!response.ok) {
                        return response.text().then(function(text) {
                            $.modal.closeLoading();
                            try {
                                var err = JSON.parse(text);
                                $.modal.alertError(err.msg || '导出失败');
                            } catch (e2) {
                                $.modal.alertError('导出失败（HTTP ' + response.status + '）');
                            }
                        });
                    }
                    return response.blob().then(function(blob) {
                        $.modal.closeLoading();
                        var fileName = '用户数据.xlsx';
                        var cd = response.headers.get('Content-Disposition');
                        if ($.common.isNotEmpty(cd)) {
                            var m = cd.match(/filename\*=utf-8''([^;]+)/i);
                            if (m && m[1]) {
                                try { fileName = decodeURIComponent(m[1].trim()); } catch (e3) {}
                            } else {
                                m = cd.match(/filename="([^"]+)"/i);
                                if (m && m[1]) { fileName = m[1]; }
                            }
                        }
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = fileName;
                        a.style.display = 'none';
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                        window.URL.revokeObjectURL(url);
                    });
                }).catch(function() {
                    $.modal.closeLoading();
                    $.modal.alertError('导出失败');
                });
        	});
        }
    </script>
</body>
</html>