<div xmlns:th="http://www.thymeleaf.org" th:fragment="termsScrollBox" class="terms-scroll"
     style="padding:16px 22px; max-height:72vh; overflow:auto; text-align:left; line-height:1.75; font-size:14px; color:#333;">
    <p><strong>【注意】请用户仔细阅读以下全部内容。</strong></p>
    <p>医承云配，是服务于医院，供应商等重要内容的网站，所有关于网站信息的的内容归本公司所有。本公司有权对本站上任何信息进行增加、删除、修改等，医承云配提供的服务将完全按照其发布的章程、服务条款和操作规则严格执行。用户必须完全同意所有服务条款并完成注册程序，才能成为医承云配官方网站的正式用户。如用户通过注册程序并勾选「我同意并接受服务条款」，即表示用户与我公司已达成协议，自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。</p>
    <p>（一）请您确认，在您注册成为本站用户以及接受本服务之前，你已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。</p>
    <p>（二）您同意，本公司有权随时对本协议内容进行单方面的变更和公司网站公告的方式予以公布，无需另行单独通知您；若您在本协议内容公告变更后继续使用本服务，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，请立即停止使用本服务。</p>
    <p>（三）您声明，在您同意接受本协议并注册成为本站用户时，您是具有法律规定的完全民事权力能力和民事行为能力，能够独立承担民事责任的自然人、法人或其他组织；本协议内容不受您所属国家或地区的排斥。</p>
    <p>（四）您承诺，在您注册成为本站会员时应与本站一起维护本站的名誉和利益，不得在论坛、播客等通讯工具上发布诽谤、诬陷等对本站不利的信息和图片，您有义务举报对本站不利的相关言论和行为。如发现注册会员有该行为，本站有权注销会员账户，并保留追究其法律责任的权利。不具备前述条件的，您应立即终止注册或停止使用本服务。</p>
    <p>（五）会员条款的确认和接纳 1. 注册本站会员应提供的个人资料：（1）保证提供信息的真实、完整、有效性。（2）不断更新注册资料，符合及时、完整、准确的要求。2. 本网站承诺不会未经合法用户授权，任意公开、编辑或透露会员的任何信息（除了用户授权或相应的法律及程序要求浙江箭环电器机械有限公司提供会员的资料外）。同时，您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的命令及（或）所导致的您的损失不承担任何责任。</p>
    <p>（六）您理解并同意，本公司不对因下述任一情况导致的任何损害赔偿承担任何责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿（无论本公司是否已被告知该等损害赔偿的可能性）：1. 如果您违反本协议的明文规定，本公司有权暂停、中断或终止向您提供本服务或其任何部分，并移除您的资料。2. 在必要时，本公司无需事先通知即可终止提供本服务，并暂停、关闭或删除该账户及您帐号中所有相关资料及档案。</p>
    <p>（七）用户名和密码在您注册为本站用户时，我们会需要您设置用户名和密码来识别您的身份，并设置密码提示问题及其答案。以便在您丢失密码时用以确认您的身份。您仅可通过您设置的密码来使用该账户，如果您泄漏了密码，您可能丢失您的个人识别信息，并可能导致对您不利的法律后果。该账户和密码因任何原因受到潜在或现实危险时，您应该立即和本公司取得联系，在本公司采取行动前，本公司对此不负任何责任。</p>
    <p>（八）安全 本公司仅按现有技术提供相应的安全措施来使本公司掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其它服务器备份数据和对用户密码加密。尽管有这些安全措施，但本公司不保证这些信息的绝对安全。本公司医承云配采供管理平台按国家法律法规正规运行，对不可抗拒力引起的责任，本公司不承担责任。</p>
    <p>（九）法律适用与管辖 本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，没有相关法律规定的，参照通用国际商业惯例和（或）行业惯例。因本协议产生之争议，均应依照中华人民共和国法律予以处理。</p>
</div>
