<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('新增供应商证件')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body>
    <div class="main-content">
        <form id="form-supplier-certificate-add" class="form-horizontal" enctype="multipart/form-data">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6" th:if="${supplierSelfService}">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">当前供应商：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" readonly th:value="${bindSupplierCompanyName}"/>
                            <input type="hidden" name="supplierId" id="supplierId" th:value="${bindSupplierId}"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" th:unless="${supplierSelfService}">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">供应商：</label>
                        <div class="col-sm-8">
                            <select name="supplierId" id="supplierId" class="form-control" required>
                                <option value="">请选择供应商</option>
                                <option th:each="supplier : ${supplierList}"
                                        th:value="${supplier.supplierId}"
                                        th:selected="${preSupplierId != null and supplier.supplierId == preSupplierId}"
                                        th:text="${supplier.companyName}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">证件类型：</label>
                        <div class="col-sm-8">
                            <select name="certificateType" id="certificateType" class="form-control" required>
                                <option value="">请选择证件类型</option>
                                <option th:each="certType : ${certificateTypeList}"
                                        th:value="${certType.typeName}"
                                        th:text="${certType.typeName}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">是否长期：</label>
                        <div class="col-sm-8">
                            <select name="certificateName" id="certificateName" class="form-control">
                                <option value="否" selected>否</option>
                                <option value="是">是</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">证件编号：</label>
                        <div class="col-sm-8">
                            <input name="certificateNo" placeholder="请输入证件编号" class="form-control" type="text" maxlength="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">发证日期：</label>
                        <div class="col-sm-8">
                            <input name="issueDate" placeholder="请输入发证日期" class="form-control" type="date">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">有效期至：</label>
                        <div class="col-sm-8">
                            <input name="expireDate" placeholder="请输入有效期至" class="form-control" type="date">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">证件图片</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">证件图片：</label>
                        <div class="col-xs-10">
                            <div class="file-loading">
                                <input id="certificateFile" name="certificateFile" type="file" accept="image/*">
                            </div>
                            <input type="hidden" name="certificateFile" id="certificateFileUrl" value="">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row" style="position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; padding: 15px 20px; border-top: 1px solid #ddd; z-index: 1000; box-shadow: 0 -2px 8px rgba(0,0,0,0.1);">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        </div>
    </div>
    <div style="height: 70px;"></div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-fileinput-js" />
	<script th:inline="javascript">
	    var prefix = ctx + "certificate/supplier";
	    var currentFile = '';
	    var uploadedFileUrls = [];
	    var fileIdToUrlMap = {};
	    var updateFileUrlsArray = function() {};

	    $(function() {
	        $("#certificateName").on('change', function() {
	            var isLongTerm = $(this).val();
	            var $expireDateInput = $("input[name='expireDate']");
	            if (isLongTerm === '是') {
	                $expireDateInput.val('').prop('disabled', true);
	            } else {
	                $expireDateInput.prop('disabled', false);
	            }
	        });

	        var initialPreview = [];
	        var initialPreviewConfig = [];

	        $("#certificateFile").fileinput({
	            uploadUrl: ctx + 'common/upload',
	            paramName: 'file',
	            maxFileCount: 2,
	            autoReplace: false,
	            allowedFileTypes: ['image'],
	            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
	            maxFileSize: 5120,
	            showUpload: true,
	            showRemove: true,
	            showPreview: true,
	            showCaption: true,
	            browseClass: "btn btn-primary",
	            uploadClass: "btn btn-success",
	            removeClass: "btn btn-danger",
	            previewFileIcon: '<i class="fa fa-image"></i>',
	            initialPreview: initialPreview,
	            initialPreviewConfig: initialPreviewConfig,
	            initialPreviewAsData: true,
	            overwriteInitial: false,
	            initialPreviewFileType: 'image',
	            initialPreviewShowDelete: true,
	            previewFileType: 'image',
	            uploadAsync: true,
	            autoUpload: true,
	            ajaxSettings: {
	                xhrFields: {
	                    withCredentials: true
	                },
	                beforeSend: function(xhr) {
	                    var csrftoken = $('meta[name=csrf-token]').attr('content');
	                    if (csrftoken) {
	                        xhr.setRequestHeader("X-CSRF-Token", csrftoken);
	                    }
	                }
	            }
	        }).on('fileuploaded', function (event, data, previewId, index) {
	            var rsp = data.response;
	            if (typeof rsp === 'string') {
	                try {
	                    rsp = JSON.parse(rsp);
	                } catch(e) {
	                }
	            }
	            var isSuccess = false;
	            if (rsp && (rsp.code == 0 || rsp.code === 0 || rsp.code === '0' || rsp.success === true)) {
	                isSuccess = true;
	            }
	            if (isSuccess) {
	                var uploadedUrl = rsp.url || rsp.fileName;
	                if (!uploadedUrl && rsp.data) {
	                    if (typeof rsp.data === 'string') {
	                        uploadedUrl = rsp.data;
	                    } else if (rsp.data.url) {
	                        uploadedUrl = rsp.data.url;
	                    } else if (rsp.data.fileName) {
	                        uploadedUrl = rsp.data.fileName;
	                    }
	                }
	                if (!uploadedUrl && rsp.data && typeof rsp.data === 'object') {
	                    for (var key in rsp.data) {
	                        if (key === 'url' || key === 'fileName' || key === 'fileUrl') {
	                            uploadedUrl = rsp.data[key];
	                            break;
	                        }
	                    }
	                }
	                if (uploadedUrl) {
	                    if (uploadedFileUrls.indexOf(uploadedUrl) === -1) {
	                        uploadedFileUrls.push(uploadedUrl);
	                    }
	                    $("#certificateFileUrl").val(uploadedFileUrls.join(','));
	                    $.modal.msgSuccess("图片上传成功");
	                } else {
	                    $.modal.alertError("图片上传成功，但未获取到文件URL");
	                }
	            } else {
	                var errorMsg = rsp && rsp.msg ? rsp.msg : "图片上传失败";
	                $.modal.alertError(errorMsg);
	            }
	        }).on('fileuploaderror', function (event, data, msg) {
	            var errorMsg = msg || "图片上传失败";
	            $.modal.alertError("图片上传失败：" + errorMsg);
	        }).on('fileremoved', function (event, id, index) {
	            if (id && fileIdToUrlMap[id]) {
	                var removedUrl = fileIdToUrlMap[id];
	                var indexInArray = uploadedFileUrls.indexOf(removedUrl);
	                if (indexInArray > -1) {
	                    uploadedFileUrls.splice(indexInArray, 1);
	                }
	                delete fileIdToUrlMap[id];
	            }
	            setTimeout(function() {
	                updateFileUrlsArray();
	            }, 200);
	        }).on('filecleared', function (event) {
	            uploadedFileUrls = [];
	            fileIdToUrlMap = {};
	            $("#certificateFileUrl").val('');
	        }).on('filesorted', function (event, params) {
	            updateFileUrlsArray();
	        });

	        updateFileUrlsArray = function() {
	            var fileUrls = [];
	            var $fileInput = $("#certificateFile");
	            try {
	                var previewConfig = $fileInput.fileinput('getPreviewConfig');
	                if (previewConfig && previewConfig.length > 0) {
	                    for (var i = 0; i < previewConfig.length; i++) {
	                        var config = previewConfig[i];
	                        var fileUrl = null;
	                        if (config && config.extra && config.extra.fileUrl) {
	                            fileUrl = config.extra.fileUrl;
	                        } else if (config && config.key) {
	                            fileUrl = config.key;
	                        }
	                        if (fileUrl && fileUrls.indexOf(fileUrl) === -1) {
	                            fileUrls.push(fileUrl);
	                            if (config.id) {
	                                fileIdToUrlMap[config.id] = fileUrl;
	                            }
	                        }
	                    }
	                }
	            } catch(e) {
	            }
	            uploadedFileUrls = fileUrls.length > 0 ? fileUrls : uploadedFileUrls;
	            $("#certificateFileUrl").val(uploadedFileUrls.join(','));
	        };
	    });

        $("#form-supplier-certificate-add").validate({
        	onkeyup: false,
        	rules:{
        		supplierId:{
        			required: true
        		},
        		certificateType:{
        			required: true,
        			maxlength: 50
        		}
        	},
            focusCleanup: true
        });

        function doSubmit(fileUrl) {
	        var formData = $("#form-supplier-certificate-add").serializeArray();
	        formData = formData.filter(function(item) {
	            return item.name !== 'certificateFile';
	        });
	        if (fileUrl && fileUrl.trim() !== '') {
	            formData.push({name: "certificateFile", value: fileUrl.trim()});
	        }
	        $.operate.saveTab(prefix + "/add", formData);
	    }

	    function submitHandler() {
	        if ($.validate.form()) {
	            var supplierId = $("#supplierId").val();
	            if (!supplierId) {
	                $.modal.alertWarning("请选择供应商");
	                return;
	            }
	            var isLongTerm = $("#certificateName").val();
	            var expireDate = $("input[name='expireDate']").val();
	            if (isLongTerm === '是') {
	                $("input[name='expireDate']").val('');
	            } else if (isLongTerm === '否' && (!expireDate || expireDate.trim() === '')) {
	                $.modal.alertWarning("选择「否」时，必须填写有效期至");
	                return;
	            }
	            updateFileUrlsArray();
	            var $fileInput = $("#certificateFile");
	            var filesCount = $fileInput.fileinput('getFilesCount') || 0;
	            if (filesCount > 0) {
	                var fileUrl = $("#certificateFileUrl").val();
	                if (!fileUrl || fileUrl.trim() === '') {
	                    setTimeout(function() {
	                        updateFileUrlsArray();
	                        fileUrl = $("#certificateFileUrl").val();
	                        if (!fileUrl || fileUrl.trim() === '') {
	                            $.modal.alertWarning("文件正在上传中，请稍候再试");
	                            return;
	                        }
	                        doSubmit(fileUrl);
	                    }, 500);
	                    return;
	                }
	            }
	            setTimeout(function() {
	                updateFileUrlsArray();
	                doSubmit($("#certificateFileUrl").val());
	            }, 100);
	        }
	    }
    </script>
</body>
</html>
