<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('新增医院')" />
</head>
<body>
    <div class="main-content">
        <form id="form-hospital-add" class="form-horizontal">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">医院名称：</label>
                        <div class="col-sm-8">
                            <input name="hospitalName" placeholder="请输入医院名称" class="form-control" type="text" maxlength="200" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">医院简称：</label>
                        <div class="col-sm-8">
                            <input name="hospitalShortName" placeholder="请输入医院简称" class="form-control" type="text" maxlength="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">医院等级：</label>
                        <div class="col-sm-8">
                            <select name="hospitalLevel" class="form-control">
                                <option value="">请选择医院等级</option>
                                <option value="三级甲等">三级甲等</option>
                                <option value="三级乙等">三级乙等</option>
                                <option value="三级丙等">三级丙等</option>
                                <option value="二级甲等">二级甲等</option>
                                <option value="二级乙等">二级乙等</option>
                                <option value="二级丙等">二级丙等</option>
                                <option value="一级甲等">一级甲等</option>
                                <option value="一级乙等">一级乙等</option>
                                <option value="一级丙等">一级丙等</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">联系信息</h4>
            <div class="row" id="address-select">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">省份/直辖市：</label>
                        <div class="col-sm-8">
                            <select name="province" id="selProvince" class="form-control" title="数据来自部门管理">
                                <option value="">请选择省份/直辖市</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">城市：</label>
                        <div class="col-sm-8">
                            <select name="city" id="selCity" class="form-control">
                                <option value="">请选择城市</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">区县：</label>
                        <div class="col-sm-8">
                            <select name="district" id="selDistrict" class="form-control">
                                <option value="">请选择区县</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">详细地址：</label>
                        <div class="col-sm-8">
                            <input name="address" placeholder="请输入详细地址" class="form-control" type="text" maxlength="500">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">联系人：</label>
                        <div class="col-sm-8">
                            <input name="contactPerson" placeholder="请输入联系人" class="form-control" type="text" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">联系电话：</label>
                        <div class="col-sm-8">
                            <input name="contactPhone" placeholder="请输入联系电话" class="form-control" type="text" maxlength="20">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">邮箱：</label>
                        <div class="col-sm-8">
                            <input name="email" placeholder="请输入邮箱" class="form-control" type="text" maxlength="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">单位性质：</label>
                        <div class="col-sm-8">
                            <input name="unitNature" placeholder="请输入单位性质" class="form-control" type="text" maxlength="50">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">法人代表：</label>
                        <div class="col-sm-8">
                            <input name="legalPerson" placeholder="请输入法人代表" class="form-control" type="text" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭</button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<script>
	    var prefix = ctx + "hospital/hospital";

	    function fillRegionSelect($sel, list, firstLabel) {
	        $sel.empty();
	        $sel.append($('<option></option>').attr('value', '').text(firstLabel));
	        $.each(list || [], function(_, o) {
	            var id = o.deptId != null ? o.deptId : o.dept_id;
	            var nm = o.deptName != null ? o.deptName : o.dept_name;
	            $sel.append($('<option></option>').attr('value', nm).text(nm).attr('data-dept-id', id));
	        });
	    }

	    function loadRegionChildren(parentId, $sel, firstLabel, callback) {
	        if (!parentId) {
	            fillRegionSelect($sel, [], firstLabel);
	            if (callback) {
	                callback();
	            }
	            return;
	        }
	        $.get(prefix + '/deptRegionOptions', { parentId: parentId }, function(res) {
	            if (res && (res.code === 0 || res.code === web_status.SUCCESS)) {
	                fillRegionSelect($sel, res.data, firstLabel);
	            } else {
	                fillRegionSelect($sel, [], firstLabel);
	            }
	            if (callback) {
	                callback();
	            }
	        });
	    }

	    function loadRegionProvinces() {
	        $.get(prefix + '/deptRegionOptions', function(res) {
	            if (res && (res.code === 0 || res.code === web_status.SUCCESS)) {
	                fillRegionSelect($('#selProvince'), res.data, '请选择省份/直辖市');
	            }
	        });
	    }

	    $(function() {
	        loadRegionProvinces();
	        $('#selProvince').on('change', function() {
	            var pid = $(this).find('option:selected').attr('data-dept-id');
	            fillRegionSelect($('#selCity'), [], '请选择城市');
	            fillRegionSelect($('#selDistrict'), [], '请选择区县');
	            if (pid) {
	                loadRegionChildren(Number(pid), $('#selCity'), '请选择城市');
	            }
	        });
	        $('#selCity').on('change', function() {
	            var pid = $(this).find('option:selected').attr('data-dept-id');
	            fillRegionSelect($('#selDistrict'), [], '请选择区县');
	            if (pid) {
	                loadRegionChildren(Number(pid), $('#selDistrict'), '请选择区县');
	            }
	        });
	    });

        $("#form-hospital-add").validate({
        	onkeyup: false,
        	rules:{
        		hospitalName:{
        			required: true,
        			maxlength: 200
        		}
        	},
            focusCleanup: true
        });

        function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.saveTab(prefix + "/add", $("#form-hospital-add").serializeArray());
	        }
	    }
    </script>
</body>
</html>

